@charset "UTF-8";

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body{
 width: 1000px;
 height: 650px;
 display: flex;
}
      
header{
 width: 20%;
 height: 100%;
 background-color: rgb(255, 221, 154);
}

.logo{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}

.mainmenu>ul>li{
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.mainmenu li a{
 margin: 10px;  
 color: rgb(0, 0, 0);
}

.mainmenu li:hover{
  background-color:rgb(157, 157, 157);
  color: white;
}

.main_footer{
 width: 80%;
  background-color: rgb(7, 7, 7);
}
      
.main{
height: 550px;
background-color: rgb(255, 255, 255);
}
      
.imgSlide{
 height: 350px;
 background-color: white;
 display: flex;
 justify-content: center;
}
 
.contents{
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.contents>div{
  height: 90%;
  width: 20%;
  background-color: white;
  margin: 10px;
}

.contents>div:nth-of-type(3){
  width: 60%;
}

.contents>.notice{
  background-color: white;
}

.contents>.notice>a{
  background-color: lightgray;  
  padding: 1px 10px;
  font-weight: 700;  
}

.contents>.notice>ul{
  border: 2px solid #000;
  height: 80%;
  margin: 5px;
  padding: 15px;
}

.contents>.notice>ul :nth-child(even){
  background-color: lightgray;
}

.contents>.notice li:hover{
  background-color: rgb(73, 73, 73);
}

.contents>.notice>ul a:hover{
  color: white;
}

.contents>.notice span{
  float: right;
}

.contents>.banner,.direct{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.contents>.banner>a{
  background-color: rgb(164, 217, 255);
  padding: 10px;
  color: rgb(0, 0, 0);
}

.contents>.direct>a{
  background-color: rgb(164, 217, 255);
  padding: 10px;
  color: rgb(0, 0, 0);  
}

footer{
  height: 100px;
  background-color: rgb(255, 239, 146);
  display: flex;
}

.footerwrap{
  width: 600px;
  background-color: rgb(249, 249, 249);
  display: flex;
}

.footerwrap>.copyright{
  width: 400px;
  background-color: rgb(255, 239, 146);
}

.footerwrap>.familysite{
  width: 200px;
  background-color: rgb(255, 239, 146);
}

.familysite{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}